.background-container {
    background-image: url('/public/img/resim4.jpg');
    background-size: cover; /* Resmi konteynerin boyutlarına sığdırır */
    background-position: center; /* Resmi ortalar */
    width: auto; /* Konteynerin genişliğini ayarlar */
    height: 750px; /* Konteynerin yüksekliğini ayarlar */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  